# Папки с загруженной музыкой
Youtube Music/
Music/
music/
old/

# Логи
*.log
download.log
logs/
cookies/
Мне нравится.txt
tmp_marker_do_not_commit.txt
docs/

# Node.js
node_modules/
package-lock.json

# Временные файлы
*.tmp
*.temp
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
Thumbs.db
